[submodule "dpp-llvm"]
	path = dpp-llvm
	url = https://github.com/salmanyam/dpp-llvm.git
[submodule "SVF"]
	path = SVF
	url = https://github.com/salmanyam/SVF.git
	branch = dpp/main
[submodule "dpp-data"]
	path = dpp-data
	url = https://github.com/salmanyam/dpp-data.git
